@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A1714;
  color: #F5F2ED;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #1A1714; }
::-webkit-scrollbar-thumb { background: #2C2521; border-radius: 3px; }
